.label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
  }
  
  .input {
    margin-top: 5%;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  