/* UserMenu.module.css */
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.userInfo {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.logoutButton {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.logoutButton:hover {
  background-color: #0056b3;
}

.userNotLoggedIn {
  font-size: 1.2rem;
  text-align: center;
}
