.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; 
}

.userInfo {
  font-size: 1.2rem;
  margin-bottom: 10px;
  border-bottom: 1px solid #8BC34A;
  padding-bottom: 5px; 
  margin-right: auto; 
}


/* .userNotLoggedIn {
  font-size: 1.2rem;
  text-align: center;
  border-bottom: 1px solid #EF5350;
  padding-bottom: 5px; 
} */
